### 과제 Mpg 데이터를 이용해서 오늘 배운 내용을 적용시켜주세요!

- 모든 컬럼에 대해서 한 번씩 다 이용해 주시고, 
- 1. 분석가가 찾고자 하는 질문을 적어주시고 -> 해당 질문을 추출할 수 있는 코드를 작성해주세요!
- 꼭 주석처리해서 인사이트를 정리해주세요!

- ex) audi a4에 대한 연비에 대한 요약통계

- 각 컬럼당 최소 5개 이상 질문!

- 랜덤 발표!

In [2]:
import pandas as pd

In [3]:
mpg = pd.read_csv('mpg.csv')

In [4]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [17]:
mpg.query('year > 2000 and model=="a4"')
# query 에서 ==를 쓰고 싶을 때는 오른쪽에 꼭 ""를 사용해줘야함

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
6         audi    a4    3.1  2008    6    auto(av)   f   18   27  p  compact

In [19]:
mpg.query('cyl in [6]') # cyl이 6인것만 반환

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
5,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
11,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact
12,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
219,audi,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact
220,audi,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact
231,audi,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,audi,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,audi,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [23]:
mpg.query('category in ["compact"]') # category가 compact인 것만 반환

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
5,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
11,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact
12,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact
13,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact
14,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact
141,audi,altima,2.4,1999,4,manual(m5),f,21,29,r,compact
142,audi,altima,2.4,1999,4,auto(l4),f,19,27,r,compact
169,audi,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact
170,audi,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact
171,audi,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact
172,audi,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact
186,audi,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact
187,audi,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact
188,audi,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact
189,audi,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact
190,audi,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact
191,audi,camry solara,3.0,1999,6,manual(m5),f,18,26,r,compact
192,audi,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact
193,audi,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact
194,audi,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact
195,audi,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact
196,audi,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact
197,audi,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact
207,audi,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
208,audi,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
209,audi,gti,2.0,2008,4,manual(m6),f,21,29,p,compact
210,audi,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
211,audi,gti,2.8,1999,6,manual(m5),f,17,24,r,compact
212,audi,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
213,audi,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact
214,audi,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact
215,audi,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact
216,audi,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
217,audi,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact
218,audi,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
219,audi,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact
220,audi,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact

In [216]:
df_mpg = mpg.query('year >2000')

In [27]:
df_mpg['hwy'].mean()  # year이 2000 이상이고 hwy의 평균 !

23.45299145299145

In [28]:
df_mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
225,audi,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
226,audi,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact
229,audi,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,audi,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
233,audi,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [31]:
mpg[['model', 'year', 'cyl', 'cty', 'category']] # 변수 추출  대괄호를 2개 써줘야 함

      model  year  cyl  cty category
0        a4  1999    4   18  compact
1        a4  1999    4   21  compact
2        a4  2008    4   20  compact
3        a4  2008    4   21  compact
4        a4  1999    6   16  compact
..      ...   ...  ...  ...      ...
229  passat  2008    4   19  midsize
230  passat  2008    4   21  midsize
231  passat  1999    6   16  midsize
232  passat  1999    6   18  midsize
233  passat  2008    6   17  midsize

[234 rows x 5 columns]

In [38]:
mpg['mpgg']=0
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,mpgg
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,0
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,0
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,0
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,0
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,0
...,...,...,...,...,...,...,...,...,...,...,...,...
229,audi,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,0
230,audi,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,0
231,audi,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,0
232,audi,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,0
233,audi,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,0

In [39]:
mpg.drop(columns = 'mpgg', inplace=True)

In [40]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,audi,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,audi,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,audi,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,audi,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,audi,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [42]:
mpg.query('year > 2000')[['manufacturer','model','year','drv','category']]
# query  사용하고 열을 추출

    manufacturer       model  year drv    category
2           audi          a4  2008   f     compact
3           audi          a4  2008   f     compact
6           audi          a4  2008   f     compact
9           audi  a4 quattro  2008   4     compact
10          audi  a4 quattro  2008   4     compact
..           ...         ...   ...  ..         ...
225         audi  new beetle  2008   f  subcompact
226         audi  new beetle  2008   f  subcompact
229         audi      passat  2008   f     midsize
230         audi      passat  2008   f     midsize
233         audi      passat  2008   f     midsize

[117 rows x 5 columns]

In [44]:
mpg.sort_values('year') #year로 오름차순 정렬

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
125,audi,grand cherokee 4wd,4.7,1999,8,auto(l4),4,14,17,r,suv
130,audi,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv
133,audi,range rover,4.6,1999,8,auto(l4),4,11,15,p,suv
134,audi,navigator 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv
...,...,...,...,...,...,...,...,...,...,...,...
128,audi,grand cherokee 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv
127,audi,grand cherokee 4wd,4.7,2008,8,auto(l5),4,14,19,r,suv
126,audi,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv
144,audi,altima,2.5,2008,4,manual(m6),f,23,32,r,midsize
233,audi,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [47]:
mpg.sort_values(['year','cty'],ascending = [False,True])

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
54,audi,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
59,audi,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv
65,audi,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
69,audi,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup
126,audi,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv
...,...,...,...,...,...,...,...,...,...,...,...
195,audi,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact
99,audi,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact
222,audi,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
212,audi,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
221,audi,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact

In [48]:
import numpy as np

In [64]:
new_mpg=mpg.assign(old = np.where(mpg['year']>=2000,'good','bad'))

In [65]:
new_mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,old
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,bad
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,bad
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,good
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,good
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,bad
...,...,...,...,...,...,...,...,...,...,...,...,...
229,audi,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,good
230,audi,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,good
231,audi,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,bad
232,audi,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,bad
233,audi,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,good

In [75]:
new_mpg.groupby('model').agg(cty_math = ('cty','mean'),
                            cyl_math = ('cyl', 'mean'))

                         cty_math  cyl_math
model
4runner 4wd             15.166667  5.666667
a4                      18.857143  4.857143
a4 quattro              17.125000  5.000000
a6 quattro              16.000000  6.666667
altima                  20.666667  4.666667
c1500 suburban 2wd      12.800000  8.000000
camry                   19.857143  4.857143
camry solara            19.857143  4.857143
caravan 2wd             15.818182  5.818182
civic                   24.444444  4.000000
corolla                 25.600000  4.000000
corvette                15.400000  8.000000
dakota pickup 4wd       12.777778  7.111111
durango 4wd             11.857143  7.714286
expedition 2wd          11.333333  8.000000
explorer 4wd            13.666667  6.666667
f150 pickup 4wd         13.000000  7.428571
forester awd            18.833333  4.000000
grand cherokee 4wd      13.500000  7.250000
grand prix              17.000000  6.400000
gti                     20.000000  4.400000
impreza awd             19.625000  4.000000
jetta                   21.222222  4.666667
k1500 tahoe 4wd         12.500000  8.000000
land cruiser wagon 4wd  12.000000  8.000000
malibu                  18.800000  5.200000
maxima                  18.666667  6.000000
mountaineer 4wd         13.250000  7.000000
mustang                 15.888889  7.111111
navigator 2wd           11.333333  8.000000
new beetle              24.000000  4.333333
passat                  18.571429  4.857143
pathfinder 4wd          13.750000  6.500000
ram 1500 pickup 4wd     11.400000  8.000000
range rover             11.500000  8.000000
sonata                  19.000000  4.857143
tiburon                 18.285714  4.857143
toyota tacoma 4wd       15.571429  5.142857

# 과제

In [218]:
mpg = pd.read_csv('mpg.csv')

### cty :도시 연비
### hwy : 고속도로 연비 
### fl : 연료
### displ : 배기량 
### cyl : 실린더 개수

# 자동차 구매 의사 결정 분석

## category로 분류해서 각 몇개씩 인지 세어주세요

In [219]:
mpg['category'].value_counts()

suv           62
compact       47
midsize       41
subcompact    35
pickup        33
minivan       11
2seater        5
Name: category, dtype: int64

## suv인 차량을 카운트 해주세요 .

In [220]:
mpg.query("category=='suv'").groupby('manufacturer')['category'].count()

manufacturer
chevrolet     9
dodge         7
ford          9
jeep          8
land rover    4
lincoln       3
mercury       4
nissan        4
subaru        6
toyota        8
Name: category, dtype: int64

## fl(연료 ) 가 비싼 p는 제외시켜주세요 .

In [209]:
idx=mpg[mpg['fl']=='p'].index
mpg.drop(idx, inplace=True)
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
21,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv
22,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
...,...,...,...,...,...,...,...,...,...,...,...
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
223,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
224,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
225,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact

## 자동차 제조 회사 별로 모델, 카테고리, 년도로 묶고, (cyl,cty, hwy, displ )의 평균을 구해서 보기 편하게 만들어주세요.

In [210]:
new_mpg=mpg.groupby(['manufacturer','model','category','year','fl']).agg(mean_cyl=('cyl','mean'),
                                                           mean_cty=('cty','mean'),
                                                           mean_hwy=('hwy','mean'),
                                                           mean_displ=('displ','mean'))
new_mpg

                                                    mean_cyl   mean_cty  \
manufacturer model              category   year fl
chevrolet    c1500 suburban 2wd suv        1999 r        8.0  13.000000
                                           2008 e        8.0  11.000000
                                                r        8.0  13.333333
             k1500 tahoe 4wd    suv        1999 d        8.0  14.000000
                                                r        8.0  11.000000
...                                                      ...        ...
volkswagen   jetta              compact    1999 r        5.0  18.250000
                                           2008 r        5.0  21.000000
             new beetle         subcompact 1999 d        4.0  32.000000
                                                r        4.0  20.000000
                                           2008 r        5.0  20.000000

                                                    mean_hwy  mean_displ
manufacturer model              category   year fl
chevrolet    c1500 suburban 2wd suv        1999 r       17.0    5.700000
                                           2008 e       15.0    5.300000
                                                r       19.0    5.533333
             k1500 tahoe 4wd    suv        1999 d       17.0    6.500000
                                                r       15.0    5.700000
...                                                      ...         ...
volkswagen   jetta              compact    1999 r       25.5    2.400000
                                           2008 r       29.0    2.500000
             new beetle         subcompact 1999 d       42.5    1.900000
                                                r       27.5    2.000000
                                           2008 r       28.5    2.500000

[74 rows x 4 columns]

## 도시연비와 고속도로 연비를 합쳐주세요 .

In [211]:
new_mpg["mean_total"] = new_mpg['mean_cty'] + new_mpg['mean_hwy'] 
new_mpg

                                                    mean_cyl   mean_cty  \
manufacturer model              category   year fl
chevrolet    c1500 suburban 2wd suv        1999 r        8.0  13.000000
                                           2008 e        8.0  11.000000
                                                r        8.0  13.333333
             k1500 tahoe 4wd    suv        1999 d        8.0  14.000000
                                                r        8.0  11.000000
...                                                      ...        ...
volkswagen   jetta              compact    1999 r        5.0  18.250000
                                           2008 r        5.0  21.000000
             new beetle         subcompact 1999 d        4.0  32.000000
                                                r        4.0  20.000000
                                           2008 r        5.0  20.000000

                                                    mean_hwy  mean_displ  \
manufacturer model              category   year fl
chevrolet    c1500 suburban 2wd suv        1999 r       17.0    5.700000
                                           2008 e       15.0    5.300000
                                                r       19.0    5.533333
             k1500 tahoe 4wd    suv        1999 d       17.0    6.500000
                                                r       15.0    5.700000
...                                                      ...         ...
volkswagen   jetta              compact    1999 r       25.5    2.400000
                                           2008 r       29.0    2.500000
             new beetle         subcompact 1999 d       42.5    1.900000
                                                r       27.5    2.000000
                                           2008 r       28.5    2.500000

                                                    mean_total
manufacturer model              category   year fl
chevrolet    c1500 suburban 2wd suv        1999 r    30.000000
                                           2008 e    26.000000
                                                r    32.333333
             k1500 tahoe 4wd    suv        1999 d    31.000000
                                                r    26.000000
...                                                        ...
volkswagen   jetta              compact    1999 r    43.750000
                                           2008 r    50.000000
             new beetle         subcompact 1999 d    74.500000
                                                r    47.500000
                                           2008 r    48.500000

[74 rows x 5 columns]

## mean_total 이 높은 상위 10개를 보여주세요 .

In [212]:
new_mpg.sort_values('mean_total',ascending = False).head(10)

                                            mean_cyl   mean_cty   mean_hwy  \
manufacturer model      category   year fl
volkswagen   jetta      compact    1999 d   4.000000  33.000000  44.000000
             new beetle subcompact 1999 d   4.000000  32.000000  42.500000
toyota       corolla    compact    2008 r   4.000000  27.000000  36.000000
honda        civic      subcompact 2008 r   4.000000  25.500000  35.000000
                                        c   4.000000  24.000000  36.000000
                                   1999 r   4.000000  25.250000  32.250000
toyota       corolla    compact    1999 r   4.000000  24.666667  32.666667
nissan       altima     midsize    2008 r   4.000000  23.000000  31.500000
toyota       camry      midsize    2008 r   4.666667  20.333333  30.000000
hyundai      sonata     midsize    2008 r   4.666667  20.333333  29.666667

                                            mean_displ  mean_total
manufacturer model      category   year fl
volkswagen   jetta      compact    1999 d     1.900000   77.000000
             new beetle subcompact 1999 d     1.900000   74.500000
toyota       corolla    compact    2008 r     1.800000   63.000000
honda        civic      subcompact 2008 r     1.800000   60.500000
                                        c     1.800000   60.000000
                                   1999 r     1.600000   57.500000
toyota       corolla    compact    1999 r     1.800000   57.333333
nissan       altima     midsize    2008 r     2.500000   54.500000
toyota       camry      midsize    2008 r     2.766667   50.333333
hyundai      sonata     midsize    2008 r     2.700000   50.000000

## mean_total 이 낮은 하위 10개를 보여주세요 .

In [213]:
new_mpg.sort_values('mean_total').head(10)

                                                      mean_cyl   mean_cty  \
manufacturer model                  category year fl
jeep         grand cherokee 4wd     suv      2008 e   8.000000   9.000000
dodge        ram 1500 pickup 4wd    pickup   2008 e   8.000000   9.000000
             durango 4wd            suv      2008 e   8.000000   9.000000
             dakota pickup 4wd      pickup   2008 e   8.000000   9.000000
chevrolet    k1500 tahoe 4wd        suv      2008 e   8.000000  11.000000
             c1500 suburban 2wd     suv      2008 e   8.000000  11.000000
             k1500 tahoe 4wd        suv      1999 r   8.000000  11.000000
toyota       land cruiser wagon 4wd suv      1999 r   8.000000  11.000000
dodge        ram 1500 pickup 4wd    pickup   1999 r   8.000000  11.000000
             durango 4wd            suv      1999 r   7.333333  11.666667

                                                       mean_hwy  mean_displ  \
manufacturer model                  category year fl
jeep         grand cherokee 4wd     suv      2008 e   12.000000    4.700000
dodge        ram 1500 pickup 4wd    pickup   2008 e   12.000000    4.700000
             durango 4wd            suv      2008 e   12.000000    4.700000
             dakota pickup 4wd      pickup   2008 e   12.000000    4.700000
chevrolet    k1500 tahoe 4wd        suv      2008 e   14.000000    5.300000
             c1500 suburban 2wd     suv      2008 e   15.000000    5.300000
             k1500 tahoe 4wd        suv      1999 r   15.000000    5.700000
toyota       land cruiser wagon 4wd suv      1999 r   15.000000    4.700000
dodge        ram 1500 pickup 4wd    pickup   1999 r   15.333333    5.433333
             durango 4wd            suv      1999 r   16.000000    5.000000

                                                      mean_total
manufacturer model                  category year fl
jeep         grand cherokee 4wd     suv      2008 e    21.000000
dodge        ram 1500 pickup 4wd    pickup   2008 e    21.000000
             durango 4wd            suv      2008 e    21.000000
             dakota pickup 4wd      pickup   2008 e    21.000000
chevrolet    k1500 tahoe 4wd        suv      2008 e    25.000000
             c1500 suburban 2wd     suv      2008 e    26.000000
             k1500 tahoe 4wd        suv      1999 r    26.000000
toyota       land cruiser wagon 4wd suv      1999 r    26.000000
dodge        ram 1500 pickup 4wd    pickup   1999 r    26.333333
             durango 4wd            suv      1999 r    27.666667

### 연비가 좋을수록 displ( 배기량 ) 은 높아지고 , cyl (실린더)는 낮아진다.

## mean_total은 높고, mean_displ(배기량)은 낮고, cyl 가 적은 차량을 골라주세요 .

In [215]:
new_mpg.sort_values(['mean_total','mean_displ', 'mean_cyl'], ascending = [False, True, True])

                                                     mean_cyl  mean_cty  \
manufacturer model               category   year fl
volkswagen   jetta               compact    1999 d        4.0      33.0
             new beetle          subcompact 1999 d        4.0      32.0
toyota       corolla             compact    2008 r        4.0      27.0
honda        civic               subcompact 2008 r        4.0      25.5
                                                 c        4.0      24.0
...                                                       ...       ...
chevrolet    k1500 tahoe 4wd     suv        2008 e        8.0      11.0
dodge        dakota pickup 4wd   pickup     2008 e        8.0       9.0
             durango 4wd         suv        2008 e        8.0       9.0
             ram 1500 pickup 4wd pickup     2008 e        8.0       9.0
jeep         grand cherokee 4wd  suv        2008 e        8.0       9.0

                                                     mean_hwy  mean_displ  \
manufacturer model               category   year fl
volkswagen   jetta               compact    1999 d       44.0         1.9
             new beetle          subcompact 1999 d       42.5         1.9
toyota       corolla             compact    2008 r       36.0         1.8
honda        civic               subcompact 2008 r       35.0         1.8
                                                 c       36.0         1.8
...                                                       ...         ...
chevrolet    k1500 tahoe 4wd     suv        2008 e       14.0         5.3
dodge        dakota pickup 4wd   pickup     2008 e       12.0         4.7
             durango 4wd         suv        2008 e       12.0         4.7
             ram 1500 pickup 4wd pickup     2008 e       12.0         4.7
jeep         grand cherokee 4wd  suv        2008 e       12.0         4.7

                                                     mean_total
manufacturer model               category   year fl
volkswagen   jetta               compact    1999 d         77.0
             new beetle          subcompact 1999 d         74.5
toyota       corolla             compact    2008 r         63.0
honda        civic               subcompact 2008 r         60.5
                                                 c         60.0
...                                                         ...
chevrolet    k1500 tahoe 4wd     suv        2008 e         25.0
dodge        dakota pickup 4wd   pickup     2008 e         21.0
             durango 4wd         suv        2008 e         21.0
             ram 1500 pickup 4wd pickup     2008 e         21.0
jeep         grand cherokee 4wd  suv        2008 e         21.0

[74 rows x 5 columns]

### -> volkswagen 제품이 연비가 좋고 , dodge제품이 대체적으로 연비가 낮다
### -> 연비를 고려한다면 volkswagen제품의 jetta모델을 구매하는것이 좋은 선택이다. 
### -> 차량 년도와 연료를 고려한다면 연비가 폭스바겐제품보다 14정도 낮지만, 
   ### toyota제품의 corolla모델을 구매하는것도 괜찮은 선택이다. 
   ### 원하는 카테고리가 있다면 상위리스트에서 선호하는 카테고리의 차량을 구입